body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #050505;
  color: white;
}

/* NAVBAR */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0,0,0,0.8);
  border-bottom: 1px solid #111;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between; /* WICHTIG */
}

.logo {
  position: absolute;
  left: 20px;
  height: 40px;
}

.menu a {
  margin: 0 15px;
  color: #aaa;
  text-decoration: none;
  font-size: 13px;
}

.menu a:hover,
.menu .active {
  color: red;
}

/* HERO */
.hero {
  height: 520px;
  background: url("assets/bg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
}

.hero-logo {
  width: 100%;
  max-width: 800px;
}

/* BUTTONS */
.buttons {
  margin-top: 10px;
}

.btn {
  padding: 12px 20px;
  margin: 5px;
  font-size: 13px;
  text-decoration: none;
}

.primary {
  background: red;
  color: white;
}

.secondary {
  border: 1px solid #333;
  color: white;
}

/* SECTION */
.section {
  padding: 60px 40px;
}

.section h2 {
  border-left: 3px solid red;
  padding-left: 12px;
  margin-bottom: 40px;
  font-size: 16px;
}

/* MATCHES */
.matches {
  display: flex;
  gap: 30px;
}

.match-card {
  flex: 1;
  background: #0a0a0a;
  padding: 30px;
  border: 1px solid #111;
  text-align: center;
}

.match-card span {
  color: red;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #111;
}

th {
  color: #777;
}

/* REGISTER PAGE */
.register-page {
  max-width: 600px;
  margin: 120px auto;
  text-align: center;
}

.subtitle {
  color: #888;
  margin-bottom: 30px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-form input {
  padding: 14px;
  background: #0a0a0a;
  border: 1px solid #222;
  color: white;
}

.register-form input:focus {
  border-color: red;
  outline: none;
}

.register-form button {
  padding: 14px;
  background: red;
  border: none;
  color: white;
  cursor: pointer;
}

.info-box {
  margin-top: 30px;
  padding: 20px;
  background: #0a0a0a;
  border: 1px solid #111;
  text-align: left;
}

.info-box h3 {
  color: red;

.menu {
  display: flex;
  align-items: center;
}

.discord-icon img {
  height: 5px;   /* GANZ WICHTIG */
  width: 5px;
  margin-left: 15px;
}
